/* styles.css */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #e1eafc, #f3f3f3);
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

input, select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background: #007aff;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background: #005ecb;
}

.footer {
    text-align: center;
    margin-top: 50px;
    font-size: 0.8em;
    color: #666;
    padding: 10px;
}

/* Добавленные стили для select */
select {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    cursor: pointer;
    outline: none;
    appearance: none; /* Убирает стандартный стиль в некоторых браузерах */
    -webkit-appearance: none; /* Убирает стандартный стиль в Safari */
    position: relative;
    font-size: 16px;
    color: #333;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>'); /* Стрелка вниз */
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px;
}

select:hover {
    border-color: #007aff;
}

select:focus {
    border-color: #007aff;
    box-shadow: 0 0 0 2px rgba(0, 122, 255, 0.5);
}

.custom-data-form {
    margin-top: 20px; /* Расстояние от предыдущего элемента */
}

.custom-data-button {
    background-color: #4CAF50; /* Зеленый */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.custom-data-button:hover {
    background-color: #45a049; /* Темно-зеленый */
}